main {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: var(--main-offset, var(--navbar-height));
}

@media print {
	main { overflow: visible; }
}

@media (prefers-reduced-motion: no-preference) {
	main { scroll-behavior: smooth; }
}

article {
	background-color: var(--bs-white);
	margin: 1.5rem auto;
	max-width: 1140px;
	width: 100%;
}

article > section {
	padding: 1rem;
}

aside {
	background-color: var(--bs-gray-200);
	border-bottom: 1px solid var(--bs-border-color);
	left: 0;
	padding: 0.75rem 1rem;
	position: fixed;
	right: 0;
	top: var(--navbar-height);
	width: 100%;
	z-index: 100;
}
