body {
	accent-color: var(--bs-primary);
	overflow: hidden;
}

main {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: var(--main-offset, var(--navbar-height));
}

@media print {
	main { overflow: visible; }
}

@media (prefers-reduced-motion: no-preference) {
	main { scroll-behavior: smooth; }
}

article {
	background-color: var(--bs-white);
	border-radius: 4px;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
	margin: 1.5rem auto;
	max-width: 1140px;
	width: 100%;
}

article > section {
	padding: 1rem;
}

aside {
	background-color: var(--bs-gray-100);
	border-bottom: 1px solid var(--bs-border-color);
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0.075);
	left: 0;
	padding: 0.5rem 1rem;
	position: fixed;
	right: 0;
	top: var(--navbar-height);
	user-select: none;
	width: 100%;
	z-index: 100;
}

@media print {
	aside { display: none; }
}
