body {
	accent-color: var(--bs-primary);
	overflow: hidden;
}

main {
	inset: var(--main-offset, var(--navbar-height)) 0 0 0;
	overflow: auto;
	position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
	main { scroll-behavior: smooth; }
}

article {
	background-color: var(--bs-white);
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 7.5%);
	overflow: clip;
	width: 100%;
}

@media screen and (width >= 1200px) {
	article {
		border-radius: var(--bs-border-radius-sm);
		margin: 1.5rem auto;
		max-width: 1140px;
	}
}

article > section {
	padding: 1rem;
}

aside {
	background-color: var(--bs-gray-100);
	border-bottom: 1px solid var(--bs-border-color);
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 7.5%);
	left: 0;
	padding: 0.5rem 0;
	position: fixed;
	right: 0;
	top: var(--navbar-height);
	user-select: none;
	width: 100%;
	z-index: 100;
}

@media print {
	aside { display: none; }
}
