:root {
	--bs-body-bg: var(--bs-gray-200);
	--bs-body-bg-rgb: 233, 236, 239;
	--bs-body-text-align: start;
	--bs-font-monospace: Consolas, monospace;
	--bs-font-sans-serif: "Segoe UI", sans-serif;
	--bs-link-color: var(--bs-primary);
	--bs-link-hover-color: #12467a;
	--bs-primary: #165898;
	--bs-primary-rgb: 22, 88, 152;
	--bs-root-font-size: 14px;
	--bs-secondary: #696969;
	--bs-secondary-rgb: 105, 105, 105;
	--navbar-height: 50px;
	font-size: var(--bs-root-font-size);
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

::selection {
	background-color: var(--bs-primary);
	color: var(--bs-white);
}
