@use "sass:color";

// Options.
$enable-shadows: true;
$prefix: "";

// Color system.
$gray-100: #f8f9fa;
$gray-900: #212529;
$primary: #165898;
$white: white;

// Spacing.
$spacer: 1rem;

// Typography.
$font-family-monospace: "Consolas", ui-monospace, monospace;
$font-family-sans-serif: "Segoe UI", ui-sans-serif, sans-serif;
$font-size-root: 14px;
$headings-color: var(--emphasis-color);
$headings-color-dark: $headings-color;

// Body.
$body-bg-dark: $gray-900;
$body-text-align: start;

// Links.
$link-color-dark: color.scale($primary, $lightness: 50%);
$link-decoration: none;
$link-hover-decoration: underline;

// Modal.
$modal-content-color: var(--body-color);
$modal-footer-bg: $gray-100;

// Navigation bar.
$navbar-height: 50px;
$navbar-light-active-color: $white;
$navbar-light-brand-color: $white;
$navbar-light-brand-hover-color: $white;
$navbar-light-color: rgb($white, 75%);
$navbar-light-hover-color: rgb($white, 95%);
$navbar-light-icon-color: rgba($white, 55%);
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-x: $spacer * 0.25;
$navbar-nav-link-padding-x: $spacer * 0.75;

// Offcanvas.
$offcanvas-bg-color: $primary;
$offcanvas-horizontal-width: 300px;
$offcanvas-padding-y: $spacer * 0.5;

// Toasts.
$toast-background-color: var(--body-bg-rgb);
$toast-header-background-color: var(--body-bg-rgb);

// Tooltips.
$tooltip-max-width: 250px;
$tooltip-opacity: 1;
