@use "sass:map";
@use "../theme" as *;

action-bar {
	background-color: var(--gray-100);
	border-bottom: var(--border-width) solid var(--border-color);
	box-shadow: var(--box-shadow-sm);
	display: block;
	left: 0;
	padding: map.get($spacers, 2) 0;
	position: fixed;
	right: 0;
	top: var(--navbar-height);
	z-index: $zindex-fixed - 1;

	[data-bs-theme="dark"] & {
		background-color: var(--gray-800);
		border-bottom-color: var(--black);
	}

	.btn .icon {
		transform: scale(1.4);
	}
}
