optgroup {
	font-style: normal;
}

.form-check-input:checked {
	background-color: var(--primary);
	border-color: var(--primary);
}

.form-control,
.form-select,
.input-group-text {

	&:not(:focus) {
		border-bottom-color: var(--gray-500);

		[data-bs-theme="dark"] & {
			border-bottom-color: var(--gray-600);
		}
	}
}

.remove-spin-button {
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
	}
}
