.modal {
	--modal-color: var(--body-color);
	--modal-footer-bg: var(--gray-100);

	[data-bs-theme="dark"] & {
		--modal-color: var(--gray-400);
		--modal-footer-bg: var(--gray-800);
	}
}

.modal-content {
	box-shadow: var(--modal-box-shadow);
}

.modal-header {
	background-color: var(--modal-footer-bg);
	user-select: none;
}

.modal-footer {
	padding: calc(var(--modal-padding) / 2) var(--modal-padding);
	user-select: none;

	.btn {
		min-width: 75px;
	}
}

dialog.modal {
	background: none;
	border: none;
	height: auto;
	margin: var(--modal-margin);
	max-height: none;
	max-width: none;
	overflow: visible;
	padding: 0;

	@media screen and (width >= 576px) {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--modal-width);
	}

	&::backdrop {
		background-color: rgb(var(--backdrop-bg), var(--backdrop-opacity));
	}

	&[open] {
		display: flex;
		flex-direction: column;
		position: fixed;
	}
}

dialog.modal-dialog {
	pointer-events: auto;
}

dialog.modal-dialog-centered {
	display: none;

	.modal-content {
		margin-bottom: auto;
		margin-top: auto;
	}
}

dialog.modal-fullscreen {
	margin: 0;
	max-width: none;
}
