@use "sass:map";
@use "../theme" as *;

.modal {
	--modal-footer-bg: var(--gray-100);
	[data-bs-theme="dark"] & { --modal-footer-bg: var(--gray-800); }
}

.modal-header {
	background-color: var(--modal-footer-bg);
}

.modal-footer {
	padding: calc(var(--modal-padding) * 0.5) var(--modal-padding);
	.btn { min-width: 75px; }
}

dialog.modal {
	background: none;
	border: none;
	height: auto;
	margin: var(--modal-margin);
	max-height: none;
	max-width: none;
	overflow: visible;
	padding: 0;

	@media screen and (width >= map.get($grid-breakpoints, sm)) {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--modal-width);
	}

	&::backdrop {
		background-color: rgb(var(--backdrop-bg) / var(--backdrop-opacity));
	}

	&[open] {
		display: flex;
		flex-direction: column;
		position: fixed;
	}
}

dialog.modal-dialog {
	pointer-events: auto;
}

dialog.modal-dialog-centered {
	display: none;

	.modal-content {
		margin-bottom: auto;
		margin-top: auto;
	}
}

dialog.modal-fullscreen {
	margin: 0;
	max-width: 100%;
}
