@use "../theme" as *;

.navbar {
	background-color: var(--primary);
	height: var(--navbar-height);
	box-shadow: var(--box-shadow);
	inset: 0 0 auto;
	position: fixed;
	user-select: none;
	z-index: $zindex-fixed;

	@media print {
		display: none;
	}
}

.navbar-nav .nav-link {
	.icon { transform: scale(1.2); }
	&.active .icon { font-variation-settings: "FILL" 1; }
}
