.offcanvas {
	--offcanvas-bg: var(--primary);
	--offcanvas-width: 300px;

	@media screen and (width >= 576px) {
		--offcanvas-width: 350px;
	}
}

.offcanvas-header {
	--offcanvas-padding-y: 0.8rem;
	background-color: var(--body-bg);
	height: var(--navbar-height);
}

.offcanvas-title {
	align-items: center;
	display: flex;

	img {
		position: relative;
		top: 1px;
	}
}

.offcanvas-body {
	--offcanvas-padding-y: 0.5rem;
	align-items: center;
}
