@use "sass:map";
@use "../Configuration" as *;

.table > thead.sticky-top::after {
	border-bottom: var(--border-width) solid var(--border-color);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
}

@each $state in map.keys($theme-colors) {
	.table-row-#{$state} {
		> td { background-color: var(--#{$state}-bg-subtle); }
		border-bottom-color: var(--gray-500);
		[data-bs-theme="dark"] & { border-bottom-color: var(--gray-700); }
	}
}

@each $state in map.keys($theme-colors) {
	.table-cell-#{$state} {
		background-color: var(--#{$state}-bg-subtle) !important;
		border-bottom-color: var(--gray-500);
		[data-bs-theme="dark"] & { border-bottom-color: var(--gray-700); }
	}
}
