@use "sass:map";
@use "../Configuration" as *;

.table > thead.sticky-top::after {
	border-bottom: var(--border-width) solid var(--border-color);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
}

@each $color, $value in $theme-colors {
	.table-row-#{$color} {
		> td { background-color: var(--#{$color}-bg-subtle); }
		border-bottom-color: var(--gray-500);

		[data-bs-theme="dark"] & {
			> td { background-color: shade-color($value, 75%); }
			border-bottom-color: var(--gray-700);
		}
	}
}

@each $color, $value in $theme-colors {
	.table-cell-#{$color} {
		background-color: var(--#{$color}-bg-subtle) !important;
		border-bottom-color: var(--gray-500);

		[data-bs-theme="dark"] & {
			background-color: shade-color($value, 75%) !important;
			border-bottom-color: var(--gray-700);
		}
	}
}
