@use "sass:map";
@use "../Configuration" as *;

.toast-header .icon {
	transform: scale(1.3);
}

@each $state in map.keys($theme-colors) {
	.toast-header-#{$state} {
		--toast-header-bg: var(--#{$state}-bg-subtle);
		--toast-header-border-color: var(--#{$state}-border-subtle);
		--toast-header-color: var(--#{$state}-text-emphasis);
	}
}
