action-bar {
	background-color: var(--bs-gray-100);
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
	box-shadow: var(--bs-box-shadow-sm);
	height: var(--action-bar-height);
	inset: var(--navbar-height) 0 auto 0;
	padding: 0.5rem 0;
	position: fixed;
	user-select: none;
	z-index: 1029; /* $zindex-fixed - 1 */
	@media print { display: none; }

	[data-bs-theme="dark"] & {
		background-color: var(--bs-gray-800);
		border-bottom-color: var(--bs-black);
	}
}
