.modal {
	--bs-modal-footer-bg: var(--bs-gray-100);
	[data-bs-theme="dark"] & { --bs-modal-footer-bg: var(--bs-gray-800); }
}

.modal-content {
	box-shadow: var(--bs-modal-box-shadow);
}

.modal-header {
	background-color: var(--bs-modal-footer-bg);
	user-select: none;
}

.modal-title {
	font-size: 1.25rem;
}

.modal-footer {
	padding: calc(var(--bs-modal-padding) * 0.5) var(--bs-modal-padding);
	user-select: none;
	.btn { min-width: 5.5rem; }
}
