.dropdown-header {
	font-weight: 600;
}

.dropdown-menu {
	--bs-dropdown-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	--bs-dropdown-link-active-bg: var(--bs-primary);
	box-shadow: var(--bs-dropdown-box-shadow);
}
