.dropdown-header {
	font-weight: 600;
}

.dropdown-item {
	.icon { transform: scale(1.1); }
	&.active .icon { font-variation-settings: "FILL" 1; }
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: var(--bs-primary);
	box-shadow: var(--bs-dropdown-box-shadow);
}
