.form-control,
.form-select,
.input-group-text {
	&:not(:focus) {
		border-bottom-color: var(--bs-gray-500);
		[data-bs-theme="dark"] & { border-bottom-color: var(--bs-gray-600); }
	}
}

.form-switch .form-check-input {
	cursor: pointer;
	&:checked {
		background-color: var(--bs-primary);
		border-color: var(--bs-primary);
	}
}

.was-validated {
	.form-control, .form-select {
		&:invalid { border-bottom-color: var(--bs-form-invalid-border-color); }
		&:valid { border-bottom-color: var(--bs-form-valid-border-color); }
	}
}
