.modal {
	--bs-modal-footer-bg: var(--bs-gray-100);
	[data-bs-theme="dark"] & { --bs-modal-footer-bg: var(--bs-gray-800); }
}

.modal-header {
	background-color: var(--bs-modal-footer-bg);
	user-select: none;
}

.modal-content {
	box-shadow: var(--bs-modal-box-shadow);
}

.modal-footer {
	padding: calc(var(--bs-modal-padding) * 0.5) var(--bs-modal-padding);
	user-select: none;
	.btn { min-width: 75px; }
}

dialog.modal {
	background: none;
	border: none;
	height: auto;
	margin: var(--bs-modal-margin);
	max-height: none;
	max-width: none;
	overflow: visible;
	padding: 0;
	&::backdrop { background-color: rgb(var(--bs-backdrop-bg), var(--bs-backdrop-opacity)); }

	&[open] {
		display: flex;
		flex-direction: column;
		position: fixed;
	}

	@media (width >= 576px) {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--bs-modal-width);
	}
}

dialog.modal-dialog {
	pointer-events: auto;
}

dialog.modal-dialog-centered {
	display: none;

	.modal-content {
		margin-bottom: auto;
		margin-top: auto;
	}
}

dialog.modal-fullscreen {
	margin: 0;
	max-width: 100%;
}
