.table {
	--bs-table-bg: var(--bs-white);
}

.table-sticky > thead {
	background-color: var(--bs-table-bg);
	position: sticky;
	top: 0;
	z-index: 50;
}

.table-sticky > thead::after {
	border-bottom: var(--bs-border-width) solid currentColor;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
}

.table-sticky > tbody {
	border-top: none !important;
}
