.table-cell, .table-row {
	border-bottom-color: var(--bs-gray-500);
	[data-bs-theme="dark"] & { border-bottom-color: var(--bs-gray-700); }
}

.table-cell {
	&.table-cell-danger {
		background-color: var(--bs-danger-bg-subtle) !important;
		[data-bs-theme="dark"] & { background-color: color-mix(in srgb, var(--bs-danger) 30%, var(--bs-black) 100%) !important; }
	}

	&.table-cell-info {
		background-color: var(--bs-info-bg-subtle) !important;
		[data-bs-theme="dark"] & { background-color: color-mix(in srgb, var(--bs-info) 30%, var(--bs-black) 100%) !important; }
	}

	&.table-cell-success {
		background-color: var(--bs-success-bg-subtle) !important;
		[data-bs-theme="dark"] & { background-color: color-mix(in srgb, var(--bs-success) 30%, var(--bs-black) 100%) !important; }
	}

	&.table-cell-warning {
		background-color: var(--bs-warning-bg-subtle) !important;
		[data-bs-theme="dark"] & { background-color: color-mix(in srgb, var(--bs-warning) 30%, var(--bs-black) 100%) !important; }
	}
}

.table-row {
	&.table-row-danger {
		> td { background-color: var(--bs-danger-bg-subtle); }
		[data-bs-theme="dark"] & > td { background-color: color-mix(in srgb, var(--bs-danger) 30%, var(--bs-black) 100%); }
	}

	&.table-row-info {
		> td { background-color: var(--bs-info-bg-subtle); }
		[data-bs-theme="dark"] & > td { background-color: color-mix(in srgb, var(--bs-info) 30%, var(--bs-black) 100%); }
	}

	&.table-row-success {
		> td { background-color: var(--bs-success-bg-subtle); }
		[data-bs-theme="dark"] & > td { background-color: color-mix(in srgb, var(--bs-success) 30%, var(--bs-black) 100%); }
	}

	&.table-row-warning {
		> td { background-color: var(--bs-warning-bg-subtle); }
		[data-bs-theme="dark"] & > td { background-color: color-mix(in srgb, var(--bs-warning) 30%, var(--bs-black) 100%); }
	}
}
