.toast {
	--bs-toast-bg: rgb(var(--bs-body-bg-rgb), 95%);
	--bs-toast-spacing: 1rem;
}

.toast-header-danger {
	background-color: var(--bs-danger-bg-subtle);
	color: var(--bs-danger-text-emphasis);
}

.toast-header-info {
	background-color: var(--bs-info-bg-subtle);
	color: var(--bs-info-text-emphasis);
}

.toast-header-success {
	background-color: var(--bs-success-bg-subtle);
	color: var(--bs-success-text-emphasis);
}

.toast-header-warning {
	background-color: var(--bs-warning-bg-subtle);
	color: var(--bs-warning-text-emphasis);
}
