.toast {
	--bs-toast-spacing: 1rem;
}

.toast-header-danger {
	background-color: #f8d7da;
	color: #842029;
}

.toast-header-info {
	background-color: #cff4fc;
	color: #055160;
}

.toast-header-success {
	background-color: #d1e7dd;
	color: #0f5132;
}

.toast-header-warning {
	background-color: #fff3cd;
	color: #664d03;
}
