.toast-header .icon {
	transform: scale(1.3);
}

@each $state in map.keys($theme-colors) {
	.toast-header-#{$state} {
		--toast-header-bg: var(--bs-#{$state}-bg-subtle);
		--toast-header-border-color: var(--bs-#{$state}-border-subtle);
		--toast-header-color: var(--bs-#{$state}-text-emphasis);
	}
}
