@use "../config" as *;

.accordion {
	--accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23165898'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

	[data-bs-theme="dark"] & {
		--accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2370b2f2'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		--accordion-btn-icon: var(--accordion-btn-active-icon);
	}
}

summary.accordion-button {
	line-height: 1.2;
	&::after { transition: none; }
}

details.accordion-item:not([open]) > summary.accordion-button {
	@include border-bottom-radius(var(--accordion-inner-border-radius));
	background-color: var(--accordion-btn-bg);
	box-shadow: none;
	color: var(--accordion-btn-color);

	&::after {
		background-image: var(--accordion-btn-icon);
		transform: rotate(0);
	}

	&:focus {
		box-shadow: var(--accordion-btn-focus-box-shadow);
	}
}
