@use "sass:map";
@use "../config" as *;

action-bar, .action-bar {
	background-color: var(--gray-100);
	border-bottom: var(--border-width) solid var(--border-color);
	box-shadow: var(--box-shadow-sm);
	display: block;
	inset: var(--navbar-height) 0 auto 0;
	padding: map.get($spacers, 2) 0;
	position: fixed;
	user-select: none;
	z-index: $zindex-fixed - 1;

	[data-bs-theme="dark"] & {
		background-color: var(--gray-800);
		border-bottom-color: var(--black);
	}

	@media print {
		display: none;
	}
}
