@each $weight in 100, 300, 400, 600, 700 {
	@font-face {
		font-display: swap;
		font-family: "Segoe UI";
		font-style: normal;
		font-weight: $weight;
		src: url("../Fonts/SegoeUI.#{$weight}.woff2") format("woff2");
	}
}
