@font-face {
	font-display: swap;
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/segoeui_100.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/segoeui_300.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/segoeui_400.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/segoeui_600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/segoeui_700.woff2") format("woff2");
}
