@font-face {
	font-display: block;
	font-family: "Material Symbols";
	font-style: normal;
	font-weight: 100 700;
	src: url("../fonts/material_symbols.woff2") format("woff2-variations");
}

.icon {
	direction: ltr;
	display: inline-block;
	font-family: "Material Symbols";
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: -0.16em;
	white-space: nowrap;
	word-wrap: normal;
}

.icon-fill {
	font-variation-settings: "FILL" 1;
}
