@use "sass:math";
@use "../core" as *;

.modal-header {
	background-color: $gray-100;
}

.modal-footer {
	background-color: $gray-100;
	padding: math.div($modal-inner-padding, 2) $modal-inner-padding;

	.btn {
		min-width: 75px;
	}
}
