@use "../core/bootstrap" as *;

.table-sm {
	.btn-sm {
		font-size: $btn-font-size-sm * 0.85;
	}
}

.table-sticky {
	border-collapse: separate;
	border-spacing: 0;

	thead th {
		background-color: $body-bg;
		position: sticky;
		top: 0;
		z-index: 1;
	}
}
