@use "../theme" as *;

.table-sticky {
	> thead {
		background-color: var(--body-bg);
		position: sticky;
		top: 0;
		z-index: 1;

		&::after {
			border-bottom: (2 * $table-border-width) solid $table-group-separator-color;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	> tbody {
		border-top: none !important;
	}
}
