.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-active-bg: #12467a;
	--bs-btn-active-border-color: #114272;
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
	--bs-btn-hover-bg: #134b81;
	--bs-btn-hover-border-color: #12467a;
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
}
