optgroup {
	font-style: normal;
	font-weight: 600;
}

.form-check-input:checked {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.remove-spin {
	appearance: textfield;
}

.remove-spin::-webkit-inner-spin-button,
.remove-spin::-webkit-outer-spin-button {
	appearance: none;
}
