.form-check-input:checked {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.input-remove-spin {
	appearance: textfield;
}

.input-remove-spin::-webkit-inner-spin-button,
.input-remove-spin::-webkit-outer-spin-button {
	appearance: none;
}
