.form-check-input:checked {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.form-control,
.form-select {
	background-color: var(--bs-white);
	border-color: var(--bs-gray-400);
}

.form-control:focus,
.form-select:focus {
	background-color: var(--bs-white);
}

.input-remove-spin {
	appearance: textfield;
}

.input-remove-spin::-webkit-inner-spin-button,
.input-remove-spin::-webkit-outer-spin-button {
	appearance: none;
}
