.modal {
	--bs-modal-color: var(--bs-body-color);
	--bs-modal-footer-bg: var(--bs-gray-100);
}

[data-bs-theme="dark"] .modal {
	--bs-modal-color: var(--bs-gray-400);
	--bs-modal-footer-bg: var(--bs-gray-800);
}

.modal-content {
	box-shadow: var(--bs-modal-box-shadow);
}

.modal-header {
	background-color: var(--bs-modal-footer-bg);
	user-select: none;
}

.modal-footer {
	padding: calc(var(--bs-modal-padding) / 2) var(--bs-modal-padding);
	user-select: none;
}

.modal-footer .btn {
	min-width: 75px;
}
