.modal {
	--bs-modal-bg: var(--bs-white);
	--bs-modal-footer-bg: var(--bs-gray-100);
}

.modal-content {
	box-shadow: var(--bs-modal-box-shadow);
}

.modal-header {
	background-color: var(--bs-gray-100);
	user-select: none;
}

.modal-footer {
	padding: calc(var(--bs-modal-padding) / 2) var(--bs-modal-padding);
	user-select: none;
}

.modal-footer .btn {
	min-width: 75px;
}
