.navbar {
	--bs-navbar-active-color: var(--bs-white);
	--bs-navbar-brand-color: var(--bs-white);
	--bs-navbar-color: #ffffffbc;
	--bs-navbar-hover-color: #fffffff2;
	--bs-navbar-nav-link-padding-x: 0.75rem;
	--bs-navbar-toggler-border-color: transparent;
	--bs-navbar-toggler-focus-width: 0;
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	--bs-navbar-toggler-padding-x: 0.25rem;
	background-color: var(--bs-primary);
	box-shadow: var(--bs-box-shadow);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	user-select: none;
	z-index: 1030;
}

@media print {
	.navbar { display: none; }
}

.navbar-brand {
	align-items: center;
	display: flex;
}

.navbar-brand img {
	position: relative;
	top: -1px;
}
