.offcanvas {
	--bs-offcanvas-bg: var(--bs-primary);
	--bs-offcanvas-width: 300px;
}

.offcanvas-header {
	--bs-offcanvas-padding-y: 0.8rem;
	background-color: var(--bs-body-bg);
	height: var(--navbar-height, auto);
}

.offcanvas-title {
	align-items: center;
	display: flex;
}

.offcanvas-title img {
	position: relative;
	top: 1px;
}

.offcanvas-body {
	--bs-offcanvas-padding-y: 0.5rem;
	align-items: center;
}

@media screen and (width >= 576px) {
	.offcanvas { --bs-offcanvas-width: 350px; }
}
