a {
	text-decoration: none;
}

a:not(.btn, .dropdown-item, .list-group-item-action, .nav-link):hover,
a:not(.btn, .dropdown-item, .list-group-item-action, .nav-link):focus {
	text-decoration: underline;
}

menu {
	margin: 0;
	padding: 0;
}
