:root {
	--bs-body-text-align: start;
	--bs-font-monospace: Consolas, monospace;
	--bs-font-sans-serif: "Segoe UI", sans-serif;
	--bs-root-font-size: 14px;
	--navbar-height: 50px;
	font-size: var(--bs-root-font-size);
}

:root, [data-bs-theme="light"] {
	--bs-heading-color: var(--bs-emphasis-color);
	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: #12467a;
	--bs-link-hover-color-rgb: 18, 70, 122;
	--bs-primary: #165898;
	--bs-primary-rgb: 22, 88, 152;
}

[data-bs-theme="dark"] {
	--bs-body-bg: var(--bs-gray-900);
	--bs-body-bg-rbg: 33, 37, 41;
	--bs-link-color: #66a8e8;
	--bs-link-color-rgb: 102, 168, 232;
	--bs-link-hover-color: #70b2f2;
	--bs-link-hover-color-rgb: 112, 178, 242;
}

::backdrop {
	--bs-backdrop-bg: 0, 0, 0;
	--bs-backdrop-opacity: 0.5;
}

::selection {
	background-color: var(--bs-primary);
	color: var(--bs-white);
}
