:root {
	--bs-body-bg: var(--bs-gray-200);
	--bs-body-bg-rgb: 233, 236, 239;
	--bs-body-text-align: start;
	--bs-font-monospace: "Consolas", monospace;
	--bs-font-sans-serif: "Segoe UI", sans-serif;
	--bs-link-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: #12467a;
	--bs-link-hover-color-rgb: 18, 70, 122;
	--bs-primary: #165898;
	--bs-primary-rgb: 22, 88, 152;
	--bs-root-font-size: 14px;
	--bs-secondary: #696969;
	--bs-secondary-color: var(--bs-gray-600);
	--bs-secondary-color-rgb: 108, 117, 125;
	--bs-secondary-rgb: 105, 105, 105;
	--bs-tertiary-bg: var(--bs-body-bg);
	--bs-tertiary-bg-rgb: var(--bs-body-bg-rgb);
	--bs-tertiary-color: var(--bs-gray-500);
	--bs-tertiary-color-rgb: 173, 181, 189;
	--navbar-height: 50px;
	font-size: var(--bs-root-font-size);
}

::selection {
	background-color: var(--bs-primary);
	color: var(--bs-white);
}

a {
	text-decoration: none;
}

a:not(.btn, .dropdown-item, .list-group-item-action, .nav-link):hover,
a:not(.btn, .dropdown-item, .list-group-item-action, .nav-link):focus {
	text-decoration: underline;
}

body.loading {
	cursor: progress;
}
