// Color system.
$primary: #165898;
$secondary: #696969;
$white: white;

// Options.
$enable-shadows: true;
$variable-prefix: "";

// Spacing.
$spacer: 1rem;

// Body.
$body-text-align: start;

// Links.
$link-decoration: none;
$link-hover-decoration: underline;

// Container padding.
$container-padding-x: 1rem;

// Typography.
$font-family-monospace: Consolas, monospace;
$font-family-sans-serif: "Segoe UI", sans-serif;
$font-size-root: 14px;

// Forms.
$form-label-font-weight: 600;

// Navbar.
$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: rgba($white, 0.95);
$navbar-nav-link-padding-x: 0.75rem;

// Tooltips
$tooltip-max-width: 250px;

// Toasts.
$toast-background-color: $white;
$toast-border-color: rgba($black, 0.15);
$toast-header-background-color: $white;
$toast-header-border-color: rgba($black, 0.15);
$toast-max-width: 300px;

// Modals.
$modal-header-padding-y: 0.75rem;
$modal-inner-padding: $spacer;

// List group.
$list-group-item-padding-y: 0.5rem;

// Offcanvas.
$offcanvas-box-shadow: none;
$offcanvas-horizontal-width: 300px;
$offcanvas-padding-y: 0.8rem;
